.isDisabled {
    color: currentColor;
    cursor: not-allowed;
    opacity: 0.5;
    text-decoration: none;
  }




mat-card-title,mat-card-title-group,mat-card-subtitle{
  margin-left: 20rem;
}

mat-card-content{
  margin-left: 25rem;
}

button{
  margin-left: 80rem;
}

img{
  width: 20rem;
  height: 20rem;
}