<mat-card>
  <mat-action-list>
      <div mat-subheader>Menu</div>
      <button  mat-list-item routerLink="/seller/product">
          <mat-icon mat-list-icon>home</mat-icon>Home
      </button>

      <button  mat-list-item routerLink="/admin/user">
          <mat-icon mat-list-icon>account_circle</mat-icon>Profile
      </button>

      <button  mat-list-item routerLink="/category">
          <mat-icon mat-list-icon>add_shopping_cart</mat-icon>Categories
      </button>



      <button  mat-list-item routerLink="/seller/productInfo">
          <mat-icon mat-list-icon>chair</mat-icon>Products
      </button>

      <button  mat-list-item routerLink="/seller/product/new">
          <mat-icon mat-list-icon>add</mat-icon>Add Products
      </button>

      <button  mat-list-item routerLink="/logout">
          <mat-icon mat-list-icon>logout</mat-icon>Logout
      </button>
  </mat-action-list>
</mat-card>